@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .info-text {
    @apply p-4 bg-[#ffffff07] rounded-lg max-w-[300px] text-sm;
  }

  .label-text {
    @apply text-[10px] uppercase tracking-wider opacity-50;
  }

  .button {
    @apply border-[1px] border-[#ffffff10] rounded-lg flex items-center justify-center p-4 gap-2 hover:bg-[#ffffff10] cursor-pointer duration-200 transition;
  }
}

*,
*::after,
*::before {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: #141414;
  color: #f4f4f4;
}
